<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap>
	<typeAlias alias="userLinkman" type="com.mftcc.interior.cus.bean.UserLinkman"/>
	<resultMap id="userLinkman_resultMap" class="userLinkman">
		<result column="linkman_id" property="linkmanId" jdbcType="VARCHAR" />
		<result column="linkman_name" property="linkmanName" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 插入一个联系人 -->
	<insert id="insertUserLink" parameterClass="userLinkman">
		insert into ac_user_linkman(linkman_id,linkman_name,user_id,mobile,email,position) 
		values(#linkmanId#,#linkmanName#,#userId#,#mobile#,#email#,#position#)
	</insert>
	<!-- 通过用户id查询用户联系人 -->
	<select id="selectLinkByUser" parameterClass="String" resultMap="userLinkman_resultMap">
		select * from ac_user_linkman where user_id=#userId#
	</select>
	<!-- 搜索公司联系人 -->
	<select id="searchLinkByMN" parameterClass="userLinkman" resultMap="userLinkman_resultMap">
		select * from ac_user_linkman where concat(mobile,linkman_name) like concat('%',#linkmanName#,'%') and user_id=#userId#
	</select>
</sqlMap>