<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd" >
<sqlMap  >
	<typeAlias alias="SysUser" type="com.mftcc.interior.sys.bean.SysUser" />	

	<resultMap id="sysUser_ResultMap" class="SysUser">
		 <result column="op_no"  property="OpNo"  jdbcType="VARCHAR" />
		<result column="op_name" property="opName" jdbcType="VARCHAR" />
		<result column="login_user" property="loginUser" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		
		<result column="birthday" property="birthday" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="last_mod_date" property="lastModDate" jdbcType="VARCHAR" />
		<result column="id_no" property="idNo" jdbcType="VARCHAR" />
		<result column="op_sts" property="opSts" jdbcType="VARCHAR" />
		<result column="br_no" property="brNo" jdbcType="VARCHAR" />
		<result column="role_no" property="roleNo" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="home_page" property="homePage" jdbcType="VARCHAR" />
		<result column="head_img" property="headImg" jdbcType="VARCHAR" />
		<result column="if_upload_head" property="ifUploadHead" jdbcType="VARCHAR" />
		<result column="br_name" property="brName" jdbcType="VARCHAR" />
		<result column="user_no" property="userNo" jdbcType="VARCHAR" />
		<result column="role_data_type" property="roleDataType" jdbcType="VARCHAR" />
		<result column="build_in_flag" property="buildInFlag" jdbcType="VARCHAR" /> 
	
	</resultMap>
	
	
	<!--表字段 -->
	<sql id="sysuser_column">
		op_no,
		op_name,
		password,
		login_user,
		position,
		sex,
		
		birthday,
		mobile,
		email,
		last_mod_date,
		id_no,
		op_sts,
		
		br_no,
		role_no,
		role_name, 
		home_page,
		head_img,
		if_upload_head,
		br_name,
		
		user_no,
		role_data_type,
		build_in_flag
	</sql>
	
 	<!--查询条件 -->
	<sql id="sysuser_where">
		<dynamic prepend="where">
			
			<isNotNull prepend="and" property="opName">
				op_name = #opName#
			</isNotNull>
			<isNotNull prepend="and" property="opNo">
				op_no = #opNo#
			</isNotNull>
			<isNotNull prepend="and" property="password">
				password = #password#
			</isNotNull>
			<isNotNull prepend="and" property="mobile">
				mobile = #mobile#
			</isNotNull>
		</dynamic>
	</sql>
 		<!--查询 -->
	<select id="selectSysUser" resultMap="sysUser_ResultMap" parameterClass="SysUser">
		SELECT
		<include refid="sysuser_column" />
		<![CDATA[
			 FROM ac_sys_user
		]]>
		<include refid="sysuser_where" />
	</select>
	
 	<!-- searchFiled 查询条件  空代表查询所以-->
	<select id="selectSysUserCount" parameterClass="com.mftcc.method.bean.Ipage" resultClass="java.lang.String">
		SELECT COUNT(*)
		FROM ac_sys_user
		  WHERE CONCAT(br_no) LIKE CONCAT('%',#parm0#,'%')
		 AND   CONCAT(op_name) LIKE CONCAT('%',#parm1#,'%')
	 </select>
		
	<select id="selectSysUserPage" parameterClass="com.mftcc.method.bean.Ipage" resultMap="sysUser_ResultMap">
		SELECT * FROM ac_sys_user 
		 WHERE CONCAT(br_no) LIKE CONCAT('%',#parm0#,'%')
		 AND   CONCAT(op_name) LIKE CONCAT('%',#parm1#,'%')
		ORDER BY op_name DESC
		LIMIT #searchStart#,#pageNumber# 
	</select>

	<insert id="insertSysUser" parameterClass="SysUser">
	 insert into  ac_sys_user(
		<include refid="sysuser_column" />
		)values
		(
		#opNo#,
		#opName#,
		#password#,
		#loginUser#,
		#position#,
		#sex#,
		
		#birthday#,
		#mobile#,
		#email#,
		#lastModDate#,
		#idNo#,
		#opSts#,
		
		#brNo#,
		#roleNo#,
		#roleName#, 
		#homePage#,
		#headImg#,
		#ifUploadHead#,
		#brName#,
		
		#userNo#,
		#roleDataType#,
		#buildInFlag#
		)
	</insert>
 			
		
		
 			
 		<!--更新 用户 -->
	<update id="updateSysUser" parameterClass="SysUser">
		update ac_sys_user
		<dynamic prepend="set">
			
			<isNotNull prepend="," property="opName">
				op_name = #opName#
			</isNotNull>
			<isNotNull prepend="," property="password">
				password = #password#
			</isNotNull>
			<isNotNull prepend="," property="loginUser">
				login_user = #loginUser#
			</isNotNull>
			<isNotNull prepend="," property="position">
				position = #position#
			</isNotNull>
			<isNotNull prepend="," property="sex">
				sex = #sex#
			</isNotNull>
 
 			<isNotNull prepend="," property="birthday">
				birthday = #birthday#
			</isNotNull>
			<isNotNull prepend="," property="mobile">
				mobile = #mobile#
			</isNotNull>
			<isNotNull prepend="," property="email">
				email = #email#
			</isNotNull>
			<isNotNull prepend="," property="lastModDate">
				last_mod_date = #lastModDate#
			</isNotNull>
			<isNotNull prepend="," property="idNo">
				id_no = #idNo#
			</isNotNull>
			<isNotNull prepend="," property="opSts">
				op_sts = #opSts#
			</isNotNull>
			
			<isNotNull prepend="," property="brNo">
				br_no = #brNo#
			</isNotNull>
			<isNotNull prepend="," property="roleNo">
				role_name = #roleNo#
			</isNotNull>
			<isNotNull prepend="," property="homePage">
				home_page = #homePage#
			</isNotNull>
			<isNotNull prepend="," property="headImg">
				head_img = #headImg#
			</isNotNull>
			<isNotNull prepend="," property="ifUploadHead">
				if_upload_head = #ifUploadHead#
			</isNotNull>
			<isNotNull prepend="," property="brName">
				br_name = #brName#
			</isNotNull>
		 
			<isNotNull prepend="," property="userNo">
				user_no = #userNo#
			</isNotNull>
			<isNotNull prepend="," property="roleDataType">
				role_data_type = #roleDataType#
			</isNotNull>
			<isNotNull prepend="," property="buildInFlag">
				build_in_flag = #buildInFlag#
			</isNotNull>
		</dynamic>
		 where op_no = #opNo#
	</update>
	
	
 </sqlMap>